# Ignore version control
.git
.gitignore

# Ignore local binaries/executables (e.g. main.exe)
*.exe
*.dll
*.so
*.dylib
main
bin/

# Ignore temp files
tmp/
debug/

# Ignore local env files (Secrets)
.env